# # # # IDE # # # # 
.vscode/

# # # # Unnecessary files # # # # 
storage/backups/*
!storage/backups/.gitkeep

# # # # Images # # # # 
storage/images/*
!storage/images/.gitkeep

# # # # Documents # # # # 
storage/documents/*
!storage/documents/.gitkeep

# # # # Hotkeys # # # # 
storage/hotkeys/*
!storage/hotkeys/.gitkeep

# # # # Music # # # # 
storage/music/*
!storage/music/.gitkeep

# # # # Software # # # # 
storage/software/*
!storage/software/.gitkeep

# # # # Fonts # # # # 
storage/fonts/*
!storage/fonts/.gitkeep

# # # # Projects # # # # 
storage/projects/*
!storage/projects/.gitkeep

# # # # Development # # # # 
//node_modules

# # # # Syncthing # # # # 
.stfolder/
# Sync conflicts
**/*sync-conflict*

# # # # Obsidian # # # # 
# Plugins
.obsidian/plugins/recent-files-obsidian/data.json


# # # # OS # # # # 
.trash/
.DS_Store*
