# # # # IDE # # # # 
.vscode/

# # # # Unnecessary files # # # # 
storage/Backups/*
!storage/Backups/.gitkeep

# # # # Images # # # # 
storage/Images/*
!storage/Images/.gitkeep

# # # # Videos # # # # 
storage/Videos/*
!storage/Videos/.gitkeep

# # # # Documents # # # # 
storage/Documents/*
!storage/Documents/.gitkeep

# # # # Hotkeys # # # # 
storage/hotkeys/*
!storage/hotkeys/.gitkeep

# # # # Music # # # # 
storage/Music/*
!storage/Music/.gitkeep

# # # # Software # # # # 
storage/Software/*
!storage/Software/.gitkeep

# # # # Fonts # # # # 
storage/Fonts/*
!storage/Fonts/.gitkeep

# # # # Projects # # # # 
storage/projects/*
!storage/projects/.gitkeep

# # # # Development # # # # 
//node_modules

# # # # Syncthing # # # # 
.stfolder/
# Sync conflicts
**/*sync-conflict*

# # # # Obsidian # # # # 
.obsidian/workspace.json

# # # # OS # # # # 
.trash/
.DS_Store*
